@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply overflow-x-hidden;
  }
  body {
    @apply font-body text-text-main bg-background-light dark:bg-background-dark dark:text-white;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.icon-filled {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #c72929;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a31f1f;
}
